/* .main__container{
    background-image: url(img/globus_1.jpg);
    background-size: 50px;
    background-repeat: space;
    background-position: left right;
} */
body{
    background-color: red;
}

.header{
    background-color: #fff;
    border-bottom: 4px solid grey;
}

.main-logo{
    background-image: url(img/main_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.footer{
    background-color: azure;
    border-top: 2px solid grey;
}

.navbar-collapse{
    background-color: beige;
}