@font-face {
    font-family: antiqua;
    src: url("fonts/BKANT.TTF");
  }
  @font-face {
    font-family: monotype_cursiva;
    src: url("fonts/MTCORSVA.TTF");
  }
  

.main__container{
    min-width: 690px;
}
body{
    background-color: red;
}

.header{
    min-height: 50px;
    background-color: #fff;
    border-bottom: 4px solid grey;
}

.header__header{
    font-family: antiqua, sans-serif;
    font-style: italic;
}
.main-logo{
    background-image: url(img/main_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.navbar-collapse{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.footer{
    background-color: azure;
    border-top: 2px solid grey;
}

.navbar-collapse{
    background-color: beige;
}